<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ml{
            margin-left: 30;
        }
    </style>
</head>
<body>

    <h1>Qaydalar:</h1>
    <div class="ml">
        <h2>title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Nemo officiis totam perspiciatis dolorem nihil, porro perferendis
             libero cum officia magni laboriosam expedita sed similique odit 
             consectetur explicabo placeat eius reiciendis eveniet optio illum
              ipsum! Officia quidem ratione tempore voluptatem dicta.</p>
              
    </div>
    
</body>
</html>